<table class="table">
  <tr>
    <th><h2>Home</h2></th>
    <th><%= link_to '投稿', new_tweet_path %></th>
  </tr>
</table>
 <% @tweets.each do |tweet| %>
<table class="table table-striped">
  <th><%= link_to tweet.user.name, user_path(tweet.user) %></th>
  <th><%= link_to tweet.body, tweet_path(tweet) %></th>
  <th><%= attachment_image_tag tweet, :image, :fill, 50,50, format:'jpeg' %></th>
   <th><div id="favorite_buttons_<%= tweet.id %>">
    <%= render 'favorites/favorite', tweet: tweet %></th>
   </div>
    <th><p>コメント数:<% @tweet.comments.count %></p></th>
</table>
 <% end %>